body {
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darksalmon;
  align-items: center;
  padding: 0px 50px;
}

.header_image {
  height: 100px;
  margin: 15px 0px;
}

.menu-container {
  text-align: center;
  justify-content: center;
}

.menu-container > a {
  margin: 15px;
  padding: 5px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif, "Gill Sans", "Gill Sans MT";
  font-weight: bolder;
  font-size: 20px;
}

a:hover {
  color: red;
}

#child_btn {
  width: 90px;
  height: 40px;
  background-color: dimgrey;
  font-weight: bold;
  font-size: 20px;
}

#child_btn:hover {
  background-color: darksalmon;
  color: red;
}

.banner_btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 50px;
}

.lessthan_btn {
  width: 50px;
  height: 40px;
}

.greaterthan_btn {
  width: 50px;
  height: 40px;
}

.img_mainContainer {
  display: flex;
  overflow-x: hidden;
  margin: 0px 50px;
}

.filter-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.restaurent_show_btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

.search-cont > #searchInput {
  background-image: url("../assets/image/download1.jpg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 8px 20px 10px 60px;
  width: 250px;
  height: 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
}

#searchInput[placeholder="search.."] {
  font-size: 20px;
}

.search_btn {
  width: 85px;
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
}

.reset_btn {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.rest-list-cont {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 10px;
}

.restarentimg_main_container {
  width: 350px;
  height: 450px;
  margin: 10px;
  padding: 10px;
}

.restarentimg_child_container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  flex: 1;
}

.restarent_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: transform 0.2s;
}
.restarent_img:hover {
  transform: scale(0.95);
}

h3 {
  font-weight: bold;
  color: orangered;
 
}

a{
  text-decoration: none;
}

p {
  font-weight: bold;
  font-family: Arial, sans-serif, Arial, Helvetica, sans-serif;
  font-size: 17px;
}


.footer {
  background-color: rgb(96, 95, 94);
  width: 100vw;
  height: 100px;
}
